<!DOCTYPE html>
<html lang="{{ site.locale }}" class="scroll-smooth no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/{{ manifest['frontend.css'] }}">
</head>
<body>
    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    <script src="/assets/{{ manifest['vendors.js'] }}" defer></script>
    <script src="/assets/{{ manifest['frontend.js'] }}" defer></script>
</body>
</html>
